<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  	<!-- 顶部导航 -->
	<div class="headerpage"></div>
	<!--顶部导航 over--> 
  	
  	<!--中部主体-->
  		<div class="container">
  			<header class="page-header">
  			<h1>个人简历 <small>Curriculum vitae</small> </h1>
  			</header>
  			<div class="divContant">
  				
  				<div class="row myBorder">
  					<fieldset>
  						<legend id="info">基本信息</legend>
  					</fieldset>
  					
  					<div class="col-sm-4">
  						<div style="width: 100%; height: 50px;"></div>
  						<blockquote>
							 <h2 id="name"></h2>
							 <footer>IT萌新</footer>
						 	</blockquote>
							<div class="row center-block">
  						<img src="../img/masterImg.jpg" alt="man" class="img-responsive img-circle img-thumbnail"/>
  						</div>
  						<div style="width: 100%; height: 50px;"></div>
  						<div class="row center-block">
  								<div class="col-xs-4">
  									<h2><abbr title="5份兼职经历">5</abbr></h2>
  								</div>
  								<div class="col-xs-4">
  									<h2><abbr title="3年编程经验">3</abbr></h2>
  								</div>
  								<div class="col-xs-4">
  									<h2><abbr title="3个主要语言">3</abbr></h2>
  								</div>
  						</div>
  					</div>
  					
  					<div class="col-sm-8">
  						<div class="jumbotron">
							  <h2>自我评价</h2>
							  <hr />
							  <p id="selfintro"></p>
							  <div class="text-right">
							  	<button class="btn btn-info">
							  		<a href="https://github.com/jiekeliu">Lean more...</a>
							  		<span class="glyphicon glyphicon-search ">
							  		</span>
							  	</button>
							  </div>
							</div>
							<div class="table-responsive">
	  						<table class="table table-striped table-hover">
	  							<tr>
	  								<td> 姓名</td>
	  								<td id="name2"></td>
	  								<td> 特长</td>
	  								<td id="specialty"></td>
	  							</tr>
	  							<tr>
	  								<td> 学历</td>
	  								<td id="rfs"></td>
	  								<td> 专业</td>
	  								<td id="profession"></td>
	  							</tr>
	  							<tr>
	  								<td> 年龄</td>
	  								<td id="age"></td>
	  								<td> 爱好</td>
	  								<td id="like"></td>
	  							</tr>
								</table>
	  					</div>
  					</div>
  				</div>
  				<!--基本信息-->
  				<p></p>
  				<div style="width: 100%; height: 50px;"></div>
  				<!--所会技能-->
  					<div class="row myBorder">
  						<fieldset>
  							<legend id="mySkills">所会技能</legend>
  						</fieldset>
  					<p>
  						<span class="label label-danger">javascript</span>
  						<span class="label label-info">html</span>
  						<span class="label label-warning">css</span>
  						
  					</p>
  					<div class="progress">
						  <div class="progress-bar progress-bar-danger progress-bar-striped ac" role="progressbar " aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						   60%
						  </div>
						</div>	
  					
  					<p>
  						<span class="label label-info">bootstrap</span>
  						<span class="label label-primary">cmd</span>
  						<span class="label label-success">frame</span>
  						
  					</p>
  					<div class="progress">
						  <div class="progress-bar progress-bar-success progress-bar-striped ac" role="progressbar " aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
						   30%
						  </div>
						</div>	
  					
  					<p>
  						<span class="label label-default">php</span>
  						<span class="label label-warning">jsp</span>
  						<span class="label label-danger">.net</span>
  						
  					</p>
  					<div class="progress">
						  <div class="progress-bar progress-bar-warning progress-bar-striped ac" role="progressbar " aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
						   30%
						  </div>
						</div>	
  				</div>
  						
  					<!--所会技能-->
  				<p></p>
  	<!--中部主体-->	
  	
  	<!--footer-->
  	<div class="footerpage"></div>
  	<!--footer-->
	<script src="../../jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/aboutMaster.js"></script>
  </body>
</html>